In [19]:
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv('Yhills_June_2-main/pima-indians-diabetes-2.csv')

In [4]:
data.head

<bound method NDFrame.head of      Preg  Plas  Pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]>

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
data.dtypes

Preg       int64
Plas       int64
Pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [10]:
data.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [12]:
data.head(5)

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [13]:
x=data.drop(['class'],axis=1)
y=data['class']

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.30,random_state=1)

In [20]:
model=LogisticRegression()
model.fit(x_train,y_train)

c:\Users\ayyar\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [21]:
predictions=model.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_test,predictions)

0.775092936802974

In [26]:
data.head()

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [27]:
median=data['Plas'].median()

In [28]:
data['Plas']=data['Plas'].replace(0,median)

In [45]:
median1=data['Pres'].median()
data['Pres']=data['Pres'].replace(0,median1).astype(float)

In [44]:
median2=data['skin'].median()
data['skin']=data['skin'].replace(0,median2).astype(float)

In [43]:
median3=data['test'].median()
data['test']=data['test'].replace(0,median3).astype(float)

In [42]:
median4=data['mass'].median()
data['mass']=data['mass'].replace(0,median4).astype(float)

In [34]:
data.head()

   Preg  Plas  Pres  skin   test  mass   pedi  age  class
0     6   148    72    35   30.5  33.6  0.627   50      1
1     1    85    66    29   30.5  26.6  0.351   31      0
2     8   183    64    23   30.5  23.3  0.672   32      1
3     1    89    66    23   94.0  28.1  0.167   21      0
4     0   137    40    35  168.0  43.1  2.288   33      1

In [40]:
median5=data['pedi'].median()
data['pedi']=data['pedi'].replace(0,median5)
data['pedi']=data['pedi'].astype(float)

In [36]:
data.head(10)

   Preg  Plas  Pres  skin   test  mass   pedi  age  class
0     6   148    72    35   30.5  33.6  0.627   50      1
1     1    85    66    29   30.5  26.6  0.351   31      0
2     8   183    64    23   30.5  23.3  0.672   32      1
3     1    89    66    23   94.0  28.1  0.167   21      0
4     0   137    40    35  168.0  43.1  2.288   33      1
5     5   116    74    23   30.5  25.6  0.201   30      0
6     3    78    50    32   88.0  31.0  0.248   26      1
7    10   115    72    23   30.5  35.3  0.134   29      0
8     2   197    70    45  543.0  30.5  0.158   53      1
9     8   125    96    23   30.5  32.0  0.232   54      1

In [41]:
median6=data['age'].median()
data['age']=data['age'].replace(0,median6).astype(float)

In [46]:
predictions=model.predict(x_test)

In [47]:
from sklearn.metrics import accuracy_score

In [49]:
x1=data.drop(['class'],axis=1)
y1=data['class']

In [50]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x1,y1,train_size=.30,random_state=1)

In [51]:
model1=LogisticRegression()
model1.fit(x_train1,y_train1)

c:\Users\ayyar\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [52]:
prediction1=model1.predict(x_test1)
accuracy_score(y_test1,prediction1)

0.7862453531598513

In [66]:
from sklearn.svm import SVC
svc_model=SVC(C=3,gamma=.025)
svc_model.fit(x_train1,y_train)
svc_model.score(x_train1,y_train1)

1.0

In [67]:
from sklearn.tree import DecisionTreeClassifier

In [68]:
model_n=DecisionTreeClassifier()
model_n.fit(x_train1,y_train1)

DecisionTreeClassifier()

In [69]:
model_n.score(x_train1,y_train1)

1.0

In [70]:
model_n.score(x_test1,y_test1)

0.6449814126394052